.main-navbar {
  height: 72px;
  box-shadow: 0 2px 2px #00000024;
  .nav-item {
    .searchbar {
      width: 250px;
    }
    .nav-container {
      height: 45px;
      .item {
        padding: 10px;
        .label {
          padding: 4px 6px;
        }
      }
      i {
        font-size: 14px;
      }
    }
    &.logo {
      img {
        width: 40px;
        height:40px;
        margin-right: 5px;
      }
    }
  }
}

.friend-request-modal {
  margin-top: 50px !important;
  bottom: 150px !important;
  left: calc((100% - 720px) / 2) !important;
}