.admin-layout {
  display: flex;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #212529;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: #f4f6f8;

  .layout-left {
    height: 100%;
    width: 230px;
  }

  .layout-right {
    height: 100%;
    width: calc(100% - 230px);
  }
}